@model Cookizi.Models.QLFood

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >Xóa món ăn</h2>

<h3 >Bạn có chắc chắn muốn xóa món ăn này?</h3>
<div>
    <h4>QLFood</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenFood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguyenLieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguyenLieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Congthucnauan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Congthucnauan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinhanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinhanh)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color back-edit">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
