@model IEnumerable<Cookizi.Models.QLFood>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is my healthcare</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenFood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguyenLieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calories)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TenFood)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NguyenLieu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Calories)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
    </td>

</tr>
    }

</table>




